extends layout.pug

block content
  .carousel
    ul.carousel--container
      each n in [1, 2, 3, 4]
        li.carousel--slide
          img(src='https://placehold.it/320x240?text=' + n)
    script.
      var i = 0; setInterval(function () {
        i = (i + 1) % 4;
        document.querySelector('.carousel--container').style.transform = 'translate(' + (i * -100) +  '%, 0)'
      }, 1000);
  .product-list
    h1.product-list--title Kiemelt termékek
    ul.product-list--list
      each product in products
        li.product-list--item
          a(href='/products/' + product.url)
            .product-list--thumbnail-container
              img(src=product.thumbnail).product-list--thumbnail
            .product-list--details
              h2.product-list--name= product.name
              .product-list--price= product.price
  .promo
    h3.promo--title Munkáim
    p.promo--content.
      Az itt található kerámiákat családi műhelyemben lassan 30 éve hagyományos fazekaskorongon készítem, fülezem, különböző technikákkal díszítem, bevizsgált mázakkal mázazom, égetem.

