doctype html
html
  head
    title Keramiko
    meta(name='viewport', content='width=device-width,initial-scale=1,user-scalable=no')
    link(rel='stylesheet', href='/bundle.css')
  body
    .wrapper
      header.header
        .header--nav-toggler
          .icon!= icons.menu
        a.header--logo(href='/') Keramiko
        .header--cart-toggler
          .icon!= icons.cart
        hr.header--separator
        nav.header--nav
          ul
            li.header--nav-item: a(href='/') Főoldal
            li.header--nav-item: a(href='/products') Termékek
            li.header--nav-item: a(href='https://bedoaniko.blogspot.hu') Blog
            li.header--nav-item: a(href='/about') Rólam
        .cart
          .cart--title A kosár tartalma
          button.cart--login Bejelentkezés
          script.
            window.fbAsyncInit = function() {
              FB.init({
                appId      : '1920478241609647',
                cookie     : true,
                xfbml      : true,
                version    : 'v2.8'
              });
              FB.getLoginStatus(function(response) {
                console.log(response);
              });
              document.querySelector('.cart--login').addEventListener('click', () => {
                FB.login(res => {
                  FB.api('/me', res => {
                    console.log(res);
                  });
                });
              });
            };

            (function(d, s, id){
               var js, fjs = d.getElementsByTagName(s)[0];
               if (d.getElementById(id)) {return;}
               js = d.createElement(s); js.id = id;
               js.src = "//connect.facebook.net/en_US/sdk.js";
               fjs.parentNode.insertBefore(js, fjs);
             }(document, 'script', 'facebook-jssdk'));
      main
        block content
        footer.footer
          .about
            h4.about--title Rólam
            p.about--content.
              Életem, hobbim az alkotás, a természetes anyagok amiket csűrök, csavarok, gyűrök, gyavarok...
              Otthonom mégis a folyton változó, képlékeny anyag, mely megnyugtat és izgalomban tart, mint egy játék.
              Használati tárgyakat szeretek elsősorban készíteni: bögréket, poharakat, tálakat.
              A régmúlt idő paraszti kultúra tárgyai formáival ihletnek, de a ma élet rezdüléseit,
              egyéni világomat is belegyúrom munkáimba, így tárgyaim történetek, melyek sok mindenről mesélnek:
              földről, vízről, tűzről, szerelemről, csendről, teákról színekről, régi időkről, rólam...
              Zsűriztetek rendszeresen, de az igazi megmérettetés számomra mégis a befogadó közönség.
            h4.about--title Boltom
            p.about--content.
              Lorem ipsum dolor sit amet
          .connect
            h4.connect--title Iratkozz fel a hírlevelemre!
            .connect--newsletter
              input(placeholder='Az e-mail címed')
              button >

    script.
      document.querySelector('.header--nav-toggler').addEventListener('click', () => document.body.classList.toggle('js-nav-open'));
      document.querySelector('.header--cart-toggler').addEventListener('click', () => document.body.classList.toggle('js-cart-open'));
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-105309213-1', 'auto');
      ga('send', 'pageview');
