extends layout.pug

block content
  .product
    h1.product--title= product.name
    .product--details
      .product--preview
        img(src=product.preview)
      .product--details
        .prodcut--price= product.price
        .prodcut--description= product.description
