extends layout.pug

block content
  .product
    h1.product--title= product.name
    .product--info
      .product--preview
        img(src=product.preview)
      .product--details
        .product--price= product.price
        .product--add-to-cart
          input(value=1)
          button
            | Kosárba
            != icons.cart
        .product--description= product.description
