@import 'fonts.styl'

$gutter = 24px;
$font-size = 16px;
$font-color = #666;

*
  margin 0
  padding 0
  border 0
  outline 0
  box-sizing border-box

ul
  list-style none

html
  -webkit-text-size-adjust 100%
  -moz-text-size-adjust 100%
  -ms-text-size-adjust 100%
  text-size-adjust 100%

body
  font-size $font-size
  color $font-color
  line-height 1.6
  font-family 'Raleway', sans-serif
  font-weight 300
  overflow-x hidden

h1, h2, h3, h4, h5
  font-family 'Raleway', sans-serif
  font-weight 300

html, body
  height 100%
  background-color #fff

a:link, a:visited
  color inherit
  text-decoration none

above(size)
  @media (min-width: size)
    {block}

.icon
  svg
    fill #666
    width 100%
    height 100%

.wrapper
  min-height 100%
  position relative
  transition transform .5s
  box-shadow 0 0 10px rgba(0,0,0,0.25)
  display flex
  flex-direction column

  /.js-nav-open &
    transform translate(210px, 0)
  /.js-cart-open &
    transform translate(-80%, 0)
    +above(800px)
      transform none
      .cart
        transform translate(-100%, 0)

  +above(800px)
    flex-direction row

.cart
  width 80%
  height 100%
  overflow auto
  position fixed
  left 100%
  top 0
  transition transform .5s
  z-index 1
  +above(800px)
    background #fff

  &--title
    height ($gutter * 3)
    letter-spacing .2rem
    font-size 1.6rem
    display flex
    align-items center
    justify-content center

  &--items
    display flex
    flex-direction column

  &--empty
    padding $gutter

  &--item
    padding $gutter
    border-bottom 1px solid #ddd
    display flex
    align-items center

    &-name
      flex 1

    &-quantity
      margin-left ($gutter/2)

    &-price
      margin-left ($gutter/2)

    &-remove
      margin-left ($gutter/2)
      width 18px
      height 18px
      cursor pointer
      &:hover svg
        fill #222

  &--summary
    display flex
    font-weight 600
    padding $gutter

    &-label
      flex 1

  &--notes
    padding $gutter

  &--order
    display flex
    flex-direction column
    padding $gutter

    textarea
      resize none

    &-new
      display flex
      flex-direction column
      margin-top $gutter

      input
        flex 1

      button
        flex 1
        margin-top $gutter
main
  display flex
  flex-direction column

.promo
  text-align center

  &--title
    font-size 1.4rem
    padding $gutter $gutter ($gutter/2) $gutter
  &--content
    padding 0 $gutter ($gutter/2) $gutter

.footer
  display flex
  flex-direction column
  text-align center
  padding 0 ($gutter/2)

  +above(800px)
    flex-direction row
    text-align left

.about
  padding 0 ($gutter/2)
  +above(800px)
    flex 3

  &--title
    font-size 1.3rem
    padding $gutter 0 ($gutter/2) 0
  &--content
    padding 0 0 ($gutter/2) 0
    font-weight 300

.connect
  padding 0 ($gutter/2)
  +above(800px)
    flex 2

  &--title
    font-size 1.3rem
    padding $gutter 0 ($gutter/2) 0

  &--newsletter
    display flex
    +above(800px)
      justify-content flex-start

    input
      display block
      flex 1

    button
      width 48px
      border-left none

textarea
  font-family 'Raleway', sans-serif
  font-size $font-size
  font-weight 300
  border 1px solid #ddd
  border-radius 0
  padding ($gutter/2)
  background #fafafa
  color $font-color
  -webkit-appearance none

input
  font-family 'Raleway', sans-serif
  font-size $font-size
  font-weight 300
  border 1px solid #ddd
  border-radius 0
  padding ($gutter/2)
  height 48px
  background #fafafa
  color $font-color
  -webkit-appearance none

button
  font-family 'Raleway', sans-serif
  font-size $font-size
  font-weight 300
  height 48px
  border 1px solid #ddd
  background #fafafa
  color $font-color
  padding ($gutter/2)
  cursor pointer
  &:hover
    background #f6f6f6

@require 'header.styl'
@require 'carousel.styl'
@require 'header.styl'
@require 'product-list.styl'
@require 'product.styl'
