@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=latin-ext');

*
  margin 0
  padding 0
  border 0
  outline 0
  box-sizing border-box

ul
  list-style none

$base-font-color = #444

body
  font-size 14px
  color $base-font-color
  background #f3f3f3
  font-family 'Open Sans', sans-serif
  font-weight 300

input, button, textarea
  font-family 'Open Sans', sans-serif
  font-weight 300
  outline none
  color $base-font-color
  border 1px solid #e7e7e7

button
  background #fff
  padding 10px 15px
  border-radius 2px
  cursor pointer

  &:hover
    border 1px solid #ddd
    background darken(#fff, 5%)

h1, h2, h3
  font-weight 300

.icon
  display inline-block
  svg
    width 100%
    height 100%

#wrapper
  height 100%
  display flex

#nav
  width 200px
  background #2f4050
  color #a7b1c2
  font-weight 400
  li
    padding 15px
    cursor pointer
    &:hover
      background #293846
      color #fff
      svg
        fill #fff
  .icon
    width 12px
    height 12px
    svg
      fill #a7b1c2

#main-wrapper
  flex 1
  height 100%
  display flex
  flex-direction column

  & > header
    height 50px
    padding 10px
    background #fff
    border-bottom 1px solid #e7e7e7

#main
  flex 1
  display flex
  flex-direction column

.card
  flex 1
  display flex
  flex-direction column
  margin 15px
  background #fff
  border 1px solid #e7e7e7

.material-input
  position relative
  display block
  padding 15px 0 30px 0

  textarea
    resize none

  input[type=text], input[type=number], textarea
    border none
    border-bottom 1px solid #bbb
    font-size 16px
    padding 5px 0
    &:focus
      border-bottom 1px solid #26a69a
      box-shadow 0 1px 0 #26a69a
      & ~ span
        color #26a69a

  span
    font-size 16px
    position absolute
    top 20px
    left 0
    transition all .2s

  input:focus ~ span, textarea:focus ~ span, .active
    top 0
    font-size 12px

@require './product-details.styl'
@require './product-list.styl'
