@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=latin-ext');

*
  margin 0
  padding 0
  list-style none
  box-sizing border-box

$base-font-color = #444

body
  font-size 14px
  color $base-font-color
  background #f3f3f3
  font-family 'Open Sans', sans-serif
  font-weight 300

input, button, textarea
  font-family 'Open Sans', sans-serif
  font-weight 300
  outline none
  color $base-font-color
  border 1px solid #e7e7e7

button
  background #fff
  margin 15px
  padding 10px 15px
  border-radius 2px
  cursor pointer

  &:hover
    border 1px solid #ddd
    background #e6e6e6

h1, h2, h3
  font-weight 300

#wrapper
  height 100%
  display flex

#nav
  width 200px
  background #2f4050
  color #a7b1c2
  font-weight 400
  li
    padding 15px
    cursor pointer
    &:hover
      background #293846
      color #fff

#main-wrapper
  flex 1
  height 100%
  display flex
  flex-direction column

  & > header
    height 50px
    padding 10px
    background #fff
    border-bottom 1px solid #e7e7e7

#main
  flex 1
  display flex
  flex-direction column

.products
  flex 1
  display flex
  flex-direction column

  li
    display flex
    border-bottom 1px solid #e7e7e7
    &:first-child
      border-bottom 1px solid #ddd

    even = #ffffff
    odd  = #f9f9f9
    amount = 5%

    background even

    &:not(.header)
      cursor pointer
      &:nth-child(odd)
        background odd

      &:hover
        background darken(even, amount)

  .field
    flex 1
    padding 10px 15px

  .loader
    flex 1
    display flex
    align-items center
    justify-content center

  .header
    font-weight 400

  .id
    flex-grow 0
    width 20px

.card
  flex 1
  display flex
  flex-direction column
  margin 15px
  background #fff
  border 1px solid #e7e7e7

  h2
    padding 15px
    flex 1

  header
    display flex
    padding 15px

.product
  header
    input
      border none
      font-size 30px
    span
      margin-right 15px
      font-size 30px
  .details
    display flex

  .info, .photos
    flex 1
    margin 0 15px
    & > div
      margin-top 15px

  .info
    input, textarea
      border none

    input
      font-size 24px
      width 170px
      text-align right
      margin-right 15px

    textarea
      resize none
      width 100%
      height 200px
  [type=file]
    display none
  img
    width 100%
