.navigation
  width 200px
  background #2f4050
  color #a7b1c2
  font-weight 400

  &--item
    padding 15px
    cursor pointer
    &:hover
      background #293846
      color #fff
      svg
        fill #fff !important

  .icon
    width 12px
    height 12px
    margin-right 8px
    svg
      fill #a7b1c2
