$gutter = 16px

.product-details
  input, label, textarea
    width 100%
  textarea
    height 100px

  &--title
    margin $gutter

  &--details-form
    display flex
    padding 0 ($gutter/2)

  &--section
    flex 1
    margin 0 ($gutter/2)

  .published
    font-size 12px
    padding 0 0 $gutter 0
    display flex
    align-items center
    span
      flex 1
    input
      width auto

  &--tag-list
    margin 0 0 30px 0
    padding 2.5x
    display flex
    flex-wrap wrap

    input
      height 32px
      margin 2.5px
      padding 8px
      font-size 16px
      border none

  &--tag-pill
    height 32px
    margin 2.5px
    border-radius 16px
    background darken(#fff, 5%)
    padding 8px
    font-size 16px
    line-height 1

  &--uploader
    border 2px dashed #e7e7e7
    border-radius 15px
    margin 0
    padding 0
    height 125px
    display flex
    align-items center
    justify-content center

    input
      visibility hidden
      width 0

  &--photo-list
    display flex
    align-items stretch
    flex-wrap wrap
    margin 7.5px

  &--photo-item
    width 50%
    padding 7.5px
    img
      width 100%
