@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=latin-ext');

*
  margin 0
  padding 0
  list-style none
  box-sizing border-box

@base-font-color = #444

body
  font-size 14px
  color #676767
  background #f3f3f3
  font-family 'Open Sans', sans-serif
  font-weight 300

input, button, textarea
  font-family 'Open Sans', sans-serif
  font-weight 300
  outline none
  border 1px solid #e7e7e7

button
  background #fff
  &:hover
    border 1px solid #ddd
    background #e6e6e6

h1, h2, h3
  font-weight 300

#wrapper
  height 100%
  display flex

#nav
  width 200px
  background #2f4050
  color #a7b1c2
  font-weight 400
  li
    padding 15px
    cursor pointer
    &:hover
      background #293846
      color #fff

#main-wrapper
  flex 1
  height 100%
  display flex
  flex-direction column

  & > header
    height 50px
    padding 10px
    background #fff
    border-bottom 1px solid #e7e7e7

#main
  flex 1
  display flex
  flex-direction column

.products
  flex 1
  display flex
  flex-direction column

  li
    display flex
    border-bottom 1px solid #e7e7e7
    &:first-child
      border-bottom 1px solid #ddd
    &:nth-child(2n+3)
      background #f9f9f9

  .field
    flex 1
    padding 10px 15px

  .loader
    flex 1
    display flex
    align-items center
    justify-content center

  .header
    font-weight 400

  .id
    flex-grow 0
    width 20px

.card
  flex 1
  display flex
  flex-direction column
  margin 15px
  background #fff
  border 1px solid #e7e7e7

  h2
    padding 15px
    flex 1

  header
    display flex

  button
    margin 15px
    padding 10px 15px
    border-radius 2px
    cursor pointer
 
.product
  header
    input
      padding 15px
      border none
      font-size 30px
